{% extends '::base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h2>Accueil responsable pédagogique</h2>
        Vous êtes sur la page d'accueil du responsable. Cette page vous permettra d'avoir un aperçu de l'avancement des
        étudiants. Vous pouvez aussi voir toutes les offres d'alternance des entreprises.
        </br>
        <h3> Statistiques  </h3>
        <table class="table table-bordered" data-toggle="table" data-sort-name="etat" data-filter-control="true">
            <thead>
            <tr>
                <th data-field="Etape" data-filter-control="select" class="col-md-3 text-center">Etape inscription</th>
                <th data-field="Effectif" data-filter-control="input" class="col-md-3 text-center">Nombre d'etudiant</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Premier connexion</td>
                <td></td>
            </tr>
            <tr>
                <td>Cherche une entreprise</td>
                <td></td>
            </tr>
            <tr>
                <td>Pré-inscription du Contrat</td>
                <td></td>
            </tr>
            <tr>
                <td>Dossier inscription pédagogique</td>
                <td></td>
            </tr>
            <tr>
                <td>Signature du contrat</td>
                <td></td>
            </tr>
            <tr>
                <td>Signature du contrat</td>
                <td></td>
            </tr>
            </tbody>
            </table>
    </div>


    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Gestion etudiant</a></li>
        <li><a data-toggle="tab" href="#menu1"> Gestion des offres</a></li>
        <li><a data-toggle="tab" href="#menu2">Parametre</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Liste des étudiants</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" data-toggle="table" data-sort-name="etat" data-filter-control="true">
                        <thead>
                        <tr>
                            <th data-field="Promo" data-filter-control="select" class="col-md-1 text-center">Promotion</th>
                            <th data-field="Etu" data-filter-control="input" class="col-md- text-center">Etudiant</th>
                            <th data-field="etat" data-filter-control="select" data-sortable="true" class="col-md-2 text-center">état d'avancement</th>
                            <th data-field="entre" data-filter-control="input" class="col-md-2 text-center">Entreprise</th>
                            <th data-field="map" data-filter-control="input" class="col-md-2 text-center">Maître de stage</th>
                            <th data-field="tuteur" data-filter-control="input" class="col-md-3 text-center">Tuteur pédagogique</th>
                            <th class="col-md-1 text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for etudiant in etudiants %}
                            <tr>
                                <td>{{ etudiant.session != null ? etudiant.session.anneeScolaire : '' }}</td>
                                <td>{{ etudiant.laPersone.prenom }} {{ etudiant.laPersone.nom }}</td>

                                {% if etudiant.DossierInscription.etatDossier == '0' %}
                                    <td>Premier connexion</td>

                                {% elseif etudiant.DossierInscription.etatDossier == '1'  %}
                                    <td><p class="text-warning">Cherche une entreprise</p></td>

                                {% elseif etudiant.DossierInscription.etatDossier == '2'  %}
                                    <td><p class="text-danger">Pré-inscription du Contrat</p></td>

                                {% elseif etudiant.DossierInscription.etatDossier == '3'  %}
                                    <td><p class="text-info">Dossier inscription pédagogique</p></td>

                                {% elseif etudiant.DossierInscription.etatDossier == '4'  %}
                                    <td><p class="text-success">Signature du contrat</p></td>
                                {% elseif etudiant.DossierInscription.etatDossier == '5'  %}
                                    <td></td>
                                {% endif %}

                                {% set entreprise = 'false' %}
                                {% for offre in offres %}
                                    {% if offre.Etudiant is not null and etudiant.id == offre.Etudiant.id and offre.entreprise.RaisonSocial is not empty %}
                                        <td>{{ offre.entreprise.RaisonSocial }}</td>
                                        {% set entreprise = 'true' %}
                                    {% endif %}
                                {% endfor %}

                                {% if entreprise == 'false' %}
                                    <td><p class="text-danger">Aucune entreprise</p></td>
                                {% endif %}

                                {% set maitre = 'false' %}
                                {% for offre in offres %}
                                    {% if  offre.Etudiant is not null and etudiant.id == offre.Etudiant.id %}
                                        <td>{{ offre.MAP.laPersone.nom }} {{ offre.MAP.laPersone.prenom }}</td>
                                        {% set maitre = 'true' %}
                                    {% endif %}
                                {% endfor %}

                                {% if maitre == 'false' %}
                                    <td><p class="text-warning">Aucun maître de stage</p></td>
                                {% endif %}

                                <td>
                                    {% if etudiant.leTuteur is empty %}
                                        <p class="text-danger" >Aucun tuteur assigné à cet etudiant</p>
                                    {% else %}
                                        <p>{{ etudiant.leTuteur.nom }} {{ etudiant.leTuteur.prenom }}</p>
                                    {% endif %}
                                    <p><a href="{{ path('site_AssigneTuteurResponsable', {'etudiantId': etudiant.id }) }}">Assigner un tuteur à l'etudiant</a></p>
                                </td>

                                <td  class="text-center">
                                    {% if etudiant.DossierInscription.etatDossier != '0' and etudiant.DossierInscription.etatDossier != '5' %}
                                            <p><a href="{{ path('validation_etat_etudiant', {'EtudiantId': etudiant.id }) }}" class="btn btn-primary">Passer à l'étape suivant</a></p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div id="menu1" class="tab-pane fade">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3>offres en attente de validation</h3>
                </div>
                <div class="panel-body ">
                    <table class="table table-bordered">
                        <tr>
                            <th class="col-md-2">Date</th>
                            <th class="col-md-2">Titre de l'offre</th>
                            <th class="col-md-2 text-center">Entreprise</th>
                            <th class="col-md-2 text-center">Maître de stage</th>
                            <th class="col-md-2 text-center">Etat de l'offre</th>
                            <th class="col-md-2 text-center">Action</th>
                        </tr>

                        {% for offre in offres %}
                            {% if offre.etatOffre == 'En attente de validation' %}
                                <tr>
                                    <td>{{ offre.DateDepot |date('d-m-Y') }}</td>
                                    <td>{{ offre.Entreprise.raisonSocial}}</td>
                                    <td class="text-center">{{ offre.entreprise.RaisonSocial }}</td>
                                    <td class="text-center">{{ offre.entreprise.Prenom }} {{ offre.entreprise.Nom }}</td>
                                    <td class="text-center">
                                        <p class="text-danger">{{ offre.etatOffre }}</p>
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path('site_detailsAnnonceResponsable', {'offreId': offre.id }) }}"
                                           class="btn  btn-primary">A Valider</a>
                                    </td>

                                </tr>
                            {% elseif offre.etatOffre == 'En attente de modification'  %}
                                <tr>
                                    <td>{{ offre.DateDepot |date('d-m-Y') }}</td>
                                    <td>{{ offre.Titre }}</td>
                                    <td class="text-center">{{ offre.entreprise.RaisonSocial }}</td>
                                    <td class="text-center">{{ offre.entreprise.Prenom }} {{ offre.entreprise.Nom }}</td>
                                    <td class="text-center">
                                        <p class="text-warning">{{ offre.etatOffre }}</p>
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path('site_detailsAnnonceResponsable', {'offreId': offre.id }) }}"
                                           class="btn  btn-primary">A Valider</a>
                                    </td>

                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

            </div>

        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Parametre SMTP</h3>
            {{ form(smtp_form) }}
            <p></p>
        </div>
    </div>
{% endblock %}