{% extends '::base.html.twig' %}


{% block body %}

    <div id="assignéTuteur">
        {{ include('template/messages') }}
        <h1>Assignez un tuteur</h1>
        {{ include('template/messages') }}
        {{ form_start(assign) }}
        <label for="tuteur">Tuteur</label>
        <select name="tuteur">
            {% for tuteur in tuteurs %}
                <option value="{{ tuteur.id }}">{{ tuteur.nom }} {{ tuteur.prenom }}</option>
            {% endfor %}
        </select>
        {{ form_end(assign) }}

    </div>

    <div id="creerTuteur">

        <h1>Creez un tuteur</h1>

        {{ form(form) }}
    </div>


{% endblock %}
