{% extends '::base.html.twig' %}
{% block title %}
    Detail dossier admission
{% endblock %}

{% block body %}
    <h1>Detail du dossier d'admission</h1>
    <h3>Détails de l'étudiant <a href="#" data-toggle="modal" data-target="#etat"><span
                    class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></h3>
    <div class="row">
        <p class="col-md-3"><strong>Nom prénom :</strong></p>
        <p class="col-md-9">{{ etudiant.laPersone.nom | capitalize }}  {{ etudiant.laPersone.prenom | capitalize }}</p>
        <p class="col-md-3"><strong>Etat :</strong></p>
        <p class="col-md-9">{{ etudiant.dossierAdmission.etatDossier | etatAdmission }}</p>
        <p class="col-md-3"><strong>Commentaire :</strong></p>
        <p class="col-md-9">{{ etudiant.dossierAdmission.commentaire is not empty ? etudiant.dossierAdmission.commentaire: 'Aucun' }}</p>
    </div>
    <h3>Entretien</h3>
    {% if etudiant.dossierAdmission.entretien.etat is not null %}
        <div class="row">
            <p class="col-md-3"><strong>Date de passage :</strong></p>
            <p class="col-md-9">{{ etudiant.dossierAdmission.entretien.datePassage | date('d/m/Y h\\hi') }}</p>
            <p class="col-md-3"><strong>Commentaire :</strong></p>
            <p class="col-md-9">{{ etudiant.dossierAdmission.entretien.commentaire is not null ? etudiant.dossierAdmission.entretien.commentaire : "Aucun" }}</p>
            <p class="col-md-3"><strong>Etat :</strong></p>
            <p class="col-md-9">{{ etudiant.dossierAdmission.entretien.etat | etatEntretien }}</p>
        </div>
        <div class="text-center"><a type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#ajouterEntretien">Mettre à jour l'entretien</a></div>
    {% else %}
        <div class="row">
            <p class="col-md-12">Il n'y a pas d'entretien pour cet étudiant, vous pouvez en définir un en cliquant <a
                        data-toggle="modal" data-target="#ajouterEntretien"><strong>ici</strong></a></p>
        </div>
    {% endif %}
    <!-- Modal entretien-->
    <div id="ajouterEntretien" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Programmer un entretien</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    <div class="row margB10">
                        <div class="col-md-4">
                            <strong>{{ form_label(form.commentaire , ' Commentaire : ') }}</strong></div>
                        <div class="col-md-8">{{ form_widget(form.commentaire ,{'value' :etudiant.dossierAdmission.entretien.commentaire  } , {'attr': {'class': 'col-sm-12'}}) }}</div>
                    </div>
                    <div class="row margB10">
                        <div class="col-md-4">
                            <strong>{{ form_label(form.datePassage , ' Date de passage : ') }}</strong></div>
                        <div class="col-md-8">{{ form_widget(form.datePassage ,{'value' :etudiant.dossierAdmission.entretien.datePassage  } , {'attr': {'class': 'col-sm-12'}}) }}</div>
                    </div>
                    {% if etudiant.dossierAdmission.entretien.etat is not null and etudiant.dossierAdmission.entretien.datePassage | date('U') < 'now' | date('U') %}
                        <div class="row">
                            <div class="col-md-4">{{ form_widget(form.accepterEtudiant , {'attr': {'class': 'btn-success col-sm-12'}}) }}</div>
                            <div class="col-md-4">{{ form_widget(form.submit , {'attr': {'class': 'btn-default col-sm-12'}}) }}</div>
                            <div class="col-md-4">{{ form_widget(form.refuserEtudiant , {'attr': {'class': 'btn-danger col-sm-12'}}) }}</div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="displayNone">{{ form_widget(form.accepterEtudiant , {'attr': {'class': 'btn-success col-sm-12'}}) }}{{ form_widget(form.refuserEtudiant , {'attr': {'class': 'btn-success col-sm-12'}}) }}</div>
                            <div class="col-md-4 col-md-offset-4">{{ form_widget(form.submit , {'attr': {'class': 'btn-default col-sm-12'}}) }}</div>
                        </div>
                    {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>

    <!-- Modal etat-->
    <div id="etat" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Gerer l'étudiant</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>

        </div>
    </div>

{% endblock %}