{% extends '::base.html.twig' %}
{% block body %}

<h3>gestion de mail des étapes</h3>

    {{ form_start(form_email) }}
    {{ form_errors(form_email) }}

    {{ form_row(form_email.etape1)}}
    {% if liste_piece_jointe is not empty %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Pièce jointe :</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            {% for piece in liste_piece_jointe  %}
                {% if piece.etape == 1 %}
                    <tr>
                        <td><a href="{{ asset(piece.chemin) }}" target="_blank">{{ piece.nom }}</a></td>
                        <td><a href="{{ path('supprimer_piece_jointe', {'id': piece.id }) }}" class=" btn btn-danger btn-sm">X</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4 class="text-warning">Aucun pièce jointe !</h4>
    {% endif %}

    {{ form_row(form_email.etape2)}}
    {% if liste_piece_jointe is not empty %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Pièce jointe :</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            {% for piece in liste_piece_jointe  %}
                {% if piece.etape == 2 %}
                    <tr>
                        <td><a href="{{ asset(piece.chemin) }}" target="_blank">{{ piece.nom }}</a></td>
                        <td><a href="{{ path('supprimer_piece_jointe', {'id': piece.id }) }}" class=" btn btn-danger btn-sm">X</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4 class="text-warning">Aucun pièce jointe !</h4>
    {% endif %}
    {{ form_row(form_email.etape3)}}
    {% if liste_piece_jointe is not empty %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Pièce jointe :</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            {% for piece in liste_piece_jointe  %}
                {% if piece.etape == 3 %}
                    <tr>
                        <td><a href="{{ asset(piece.chemin) }}" target="_blank">{{ piece.nom }}</a></td>
                        <td><a href="{{ path('supprimer_piece_jointe', {'id': piece.id }) }}" class=" btn btn-danger btn-sm">X</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4 class="text-warning">Aucun pièce jointe !</h4>
    {% endif %}

    {{ form_row(form_email.etape4)}}
    {% if liste_piece_jointe is not empty %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Pièce jointe :</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            {% for piece in liste_piece_jointe  %}
                {% if piece.etape == 4 %}
                    <tr>
                        <td><a href="{{ asset(piece.chemin) }}" target="_blank">{{ piece.nom }}</a></td>
                        <td><a href="{{ path('supprimer_piece_jointe', {'id': piece.id }) }}" class=" btn btn-danger btn-sm">X</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4 class="text-warning">Aucun pièce jointe !</h4>
    {% endif %}
    {{ form_row(form_email.etape5)}}
    {% if liste_piece_jointe is not empty %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Pièce jointe :</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            {% for piece in liste_piece_jointe  %}
                {% if piece.etape == 5 %}
                    <tr>
                        <td><a href="{{ asset(piece.chemin) }}" target="_blank">{{ piece.nom }}</a></td>
                        <td><a href="{{ path('supprimer_piece_jointe', {'id': piece.id }) }}" class=" btn btn-danger btn-sm">X</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4 class="text-warning">Aucun pièce jointe !</h4>
    {% endif %}


    {{ form_row(form_email.etape6)}}
    {% if liste_piece_jointe is not empty %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Pièce jointe :</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            {% for piece in liste_piece_jointe  %}
                {% if piece.etape == 6 %}
                    <tr>
                        <td><a href="{{ asset(piece.chemin) }}" target="_blank">{{ piece.nom }}</a></td>
                        <td><a href="{{ path('supprimer_piece_jointe', {'id': piece.id }) }}" class=" btn btn-danger btn-sm">X</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4 class="text-warning">Aucun pièce jointe !</h4>
    {% endif %}
    {{ form_rest(form_email) }}
    {{ form_end(form_email) }}


    {{ form(form_piece_jointe) }}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('ckeditor/config.js') }}"></script>
<script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace( 'email_etape_inscription_etape1' );
    CKEDITOR.replace( 'email_etape_inscription_etape2' );
    CKEDITOR.replace( 'email_etape_inscription_etape3' );
    CKEDITOR.replace( 'email_etape_inscription_etape4' );
    CKEDITOR.replace( 'email_etape_inscription_etape5' );
    CKEDITOR.replace( 'email_etape_inscription_etape6' );
</script>

{% endblock %}