{% extends '::base.html.twig' %}
{% block title %}
    Liste des étudiants admissible
{% endblock %}

{% block body %}
    <h1>Liste des étudiants admissible</h1>
    <table class="table table-bordered" data-toggle="table" data-sort-name="etat" data-filter-control="true"
           data-filter-show-clear="true"
           data-sort-order="desc">
        <thead>
        <tr>
            <th class="text-center" data-field="promo" data-filter-control="select">Promotion</th>
            <th class="text-center" data-field="name" data-filter-control="input">Nom Pernom</th>
            <th class="text-center" data-field="etat" data-filter-control="select" data-sortable="true">Etat dossier
            </th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% for etudiant in etudiants %}
            <tr>
                <td class="text-center">{{ etudiant.session != null ? etudiant.session.anneeScolaire }}</td>
                <td class="text-center">{{ etudiant.laPersone.prenom }} {{ etudiant.laPersone.nom }}</td>
                {% if etudiant.dossierAdmission is null %}
                    <td class="text-center">A valider</td>
                {% else %}
                    <td class="text-center">{{ etudiant.dossierAdmission.etatDossier | etatAdmission }}</td>
                {% endif %}
                <td class="text-center"><a href="{{ path('detailDossierAdmissible', {'idEtudiant': etudiant.id }) }}">Détails
                        du dossier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success center-block" href="{{ path('responsableImprimerListeEtudiantAdmissible') }}"
       target="_blank">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        Imprimer le tableau
    </a>
{% endblock %}