{% extends '::base.html.twig' %}
{% block title %}
    Liste des étudiants admissible
{% endblock %}

{% block body %}
    <h1>Liste des étudiants admissible</h1>
    <p>Choisir une promo :</p>
    <select id="filter" class="form-control" title="filtre">
        <option>Aucune</option>
        {% for promo in promos %}
            <option>{{ promo.anneeScolaire }}</option>
        {% endfor %}
    </select>
<table class="table table-bordered" data-toggle="table" data-sort-name="etat"
       data-sort-order="desc">
    <thead>
    <tr>
        <th class="text-center">Promotion</th>
        <th class="text-center">Nom Pernom</th>
        <th class="text-center" data-field="etat"
            data-sortable="true">Etat dossier
        </th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody class="searchable">
    {% for etudiant in etudiants %}
        <tr>
            <td class="text-center">{{ etudiant.session != null ? etudiant.session.anneeScolaire }}</td>
            <td class="text-center">{{ etudiant.laPersone.prenom }} {{ etudiant.laPersone.nom }}</td>
            {% if etudiant.dossierAdmission is null %}
                <td class="text-center">A valider</td>
            {% else %}
                <td class="text-center">{{ etudiant.dossierAdmission.etatDossier | etatAdmission }}</td>
            {% endif %}
            <td class="text-center"><a href="{{ path('detailDossierAdmissible', {'idEtudiant': etudiant.id }) }}">Détails
                    du dossier</a></td>
        </tr>
    {% endfor %}
    </tbody>
    {% endblock %}

    {% block javascripts %}
    <script>
    $(document).ready(function () {
    (function ($) {
        $('#filter').change(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
    });
    window.onload = function() {
        $('.searchable tr').hide();
    };
</script>
{% endblock %}