{% extends '::base.html.twig' %}

{% block body %}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Annonces où vous avez été retenu</a></li>
    <li><a data-toggle="tab" href="#menu1">Annonces où vous avez postulé</a></li>
    <li><a data-toggle="tab" href="#menu2">Annonces où vous avez été refusé</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>Annonces où vous avez été retenu</h3>

      Parmis ces offres où vous avez été retenu , vous devez en validez qu'une seule qui sera definitive. Si vous n'avez pas d'offre dans section continuez a <a href="{{ path('site_listeOffreEtudiant') }}">postulez à des offres.</a>

        {% for offre in offresV %}
        <h4>{{ offre.offre.titre }}
            <small> <a                       href="{{ path('site_detailsAnnonceEtudiant', {'annonceId': offre.offre.id }) }}"><span
                            class="glyphicon glyphicon-search margR5"></span></a></small>
                <small> <a                       href="#">{{ offre.offre.entreprise.raisonSocial }} </a></small>
                <button href="#">Validez cette offre </button>
        </h4>

    {% endfor %}


    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Annonces où vous avez postulé</h3>
        {% for offre in offresP %}
            <h4>{{ offre.offre.titre }}
                <small> <a                       href="{{ path('site_detailsAnnonceEtudiant', {'annonceId': offre.offre.id }) }}"><span
                                class="glyphicon glyphicon-search margR5"></span></a>   </small>
                    <small> <a                       href="{{ path('site_detailsAnnonceEntreprise', {'annonceId': offre.offre.entreprise.id }) }}">{{ offre.offre.entreprise.raisonSocial  }}</a>
                        </small>
            </h4>

        {% endfor %}
    </div>

    <div id="menu2" class="tab-pane fade">
        <h3>Annonces où vous avez été refusé</h3>
        <p>Voici les annonces où vous avez postulés et où vous n'avez pas eté retenu ou bien </p>

        {% for offre in offresR %}
            <h4>{{ offre.offre.titre }}
                <small> <a                       href="{{ path('site_detailsAnnonceEtudiant', {'annonceId': offre.offre.id }) }}"><span
                                class="glyphicon glyphicon-search margR5"></span></a>   </small>
                <small> <a                       href="{{ path('site_detailsAnnonceEntreprise', {'annonceId': offre.offre.entreprise.id }) }}">offre.offre.entreprise.raisonSocial </a>
                </small>
            </h4>

        {% endfor %}
    </div>
</div>


{% endblock %}