<ul class="nav navbar-nav">
    <li><a href="{{ path('acceuil_responsable') }}" class="navbar-brand">{{ app.user.username }}</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Ajouter les données<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('responsable_ajout_responsable') }}">Ajouter des responsables de licence</a></li>
            <li><a href="{{ path('responsableAjoutEtudiant') }}">Ajouter des étudiants</a></li>
            <li><a href="{{ path('responsableAjoutPromotion') }}">Gérer les promotions</a></li>
            <li><a href="{{ path('gestion_email') }}">Personnaliser les mails</a></li>
        </ul>
    </li>
    <li><a href="{{ path('responsableListeEtudiantAdmissible') }}">Gérer les admissions</a></li>
</ul>

